In [1]:
# This is a comment
"""
This is a longer comment!
This is a longer comment!
"""
# This is a longer comment!
# This is a longer comment!
# This is a longer comment!

print("This is a Print Statement")

This is a Print Statement

In [2]:
print("This is a Print Statement", 1)

This is a Print Statement 1

In [3]:
#integer
int_ex = 1

#float
float_ex = 1.0
print(type(int_ex))
print(type(float_ex))

<class 'int'>
<class 'float'>

In [4]:
# Exponentiation
3**2

9

In [5]:
3^2

1

In [8]:
# Modulo %: return the remainder
# Return an odd number
5%2 == 1

# Return an even number
6%3 == 0

True

In [12]:
# String = a collection of characters
str_ex = "Hello World"
str_ex

'Hello World'

In [11]:
str_ex2 = "It's time"
str_ex2

"It's time"

In [14]:
str_ex3 = 'It's time'
str_ex3

SyntaxError: invalid syntax (2177405791.py, line 1)

In [15]:
# Escape \
str_ex4 = 'It\'s time' 
str_ex4

"It's time"

In [16]:
# Count the occurence of a character in a string
str_ex.count("l")

3

In [17]:
print(str_ex.upper())
print(str_ex.lower())
print(str_ex.title())

HELLO WORLD
hello world
Hello World

In [18]:
# Return the index of a character (first appear) in a string
str_ex.index("l")

2

In [20]:
str_ex.replace(" ", ", ")

'Hello, World'

In [23]:
# Convert a string to a list containing each substring
a = str_ex.split()
a

['Hello', 'World']

In [24]:
# Concatenate all substrings into a long string
"".join(a)

'HelloWorld'

In [25]:
" ".join(a)

'Hello World'

In [26]:
", ".join(a)

'Hello, World'

In [27]:
# You can also use operators on strings
hello = "hello"
world = "world"
helloworld = hello + world
print(helloworld)

helloworld

In [28]:
helloworld = hello + " " + world
print(helloworld)

hello world

In [30]:
helloworld_new = "hello " * 5
print(helloworld_new)

hello hello hello hello hello

In [31]:
# Boolean
boo_ex = 5 < 4
print(boo_ex)
print(int(boo_ex))

False
0

In [32]:
a = 1
b = 2
a == 1 and b == 2

True

In [ ]:
# Conditional expressions
"""
if \<expression_1\>:\n
    code # You must have indent
elif \<expression_2\>:\n
    code
else
"""

In [33]:
if (a =< 1) and (b == 2)

SyntaxError: invalid syntax (1506332484.py, line 1)

In [34]:
# Interview question
a = 97
if a%2 == 1:
    print("Odd")
else:
    print("Even")

Odd

In [35]:
# Lists
# Initialize a list
mylist = []
mylist.append(1)
mylist.append(5%3)
mylist.append("Hello")
print(mylist)

# len: find the length (number of elements) of a list
print(len(mylist))

[1, 2, 'Hello']
3

In [36]:
odd_numbers = [1,3,5]
even_numbers = [2,4,6]
nums = odd_numbers + even_numbers
print(nums)

[1, 3, 5, 2, 4, 6]

In [39]:
# Access elements of a list
print(mylist[0]) # Starting position is 0
mylist[len(mylist)] # list index out of range

1

IndexError: list index out of range

In [40]:
# Get the last item
print(mylist[len(mylist) - 1])
print(mylist[-1])

Hello
Hello

In [41]:
print(mylist[-2])

2

In [42]:
print(mylist[-3])

1

In [43]:
print(mylist[-4])

IndexError: list index out of range

In [44]:
# Select a group of values in a list using [starting index:ending index]
b = [1, 2, 3, 4, 5, 6, 7, 8]
b[0:2] # Start inclusively, end exclusively

[1, 2]

In [45]:
# Access everything from the starting index to the end of the list
b[2:]

[3, 4, 5, 6, 7, 8]

In [46]:
fruits = ["apple", "banana", "cherry"]

# insert
fruits.insert(1, "orange") # Choose the index of an element you want to insert
fruits

['apple', 'orange', 'banana', 'cherry']

In [47]:
# pop
fruits.pop(1) # Choose the index of an element you want to remove

'orange'

In [48]:
print(sorted(fruits))

['apple', 'banana', 'cherry']

In [53]:
print(sorted(fruits, reverse = True))

['cherry', 'banana', 'apple']

In [54]:
# tuples
thistuple=(1,3,5,7)
print(thistuple)

(1, 3, 5, 7)

In [55]:
thistuple[0]

1

In [60]:
# Sets: contain multiple data types; cannot have dulicated elements
my_set={1,3,5,3,3,1,54,76}
print(my_set)

{1, 3, 5, 54, 76}

In [57]:
# Another useful example: find the number of unique values in a list
ages = [36, 50, 89, 19, 99, 19, 20, 38, 38, 79, 89]
age_set = set(ages)
print("The number of unique ages is equal to", len(age_set))

The number of unique ages is equal to 8 .

In [61]:
# Dictionaries - key:value pairs
# Create an empty dictionary
my_dict = {}

# Add an item into a dictionary, you assign dict[key]=value
my_dict["USA"]="Washington D.C."
my_dict["China"]="Beijing"
my_dict["UK"]="London"
my_dict["France"]="Paris"
my_dict["Brazil"]="Rio De Janiero"

# To replace a value in the dictionary, you can reassign the key's value to another value
my_dict["Brazil"]="Brasilia"

print(my_dict)

{'USA': 'Washington D.C.', 'China': 'Beijing', 'UK': 'London', 'France': 'Paris', 'Brazil': 'Brasilia'}

In [ ]:
# Access the value of a particular key
print(my_dict["UK"])

# Access all values
print(my_dict.values())

# Access all keys
print(my_dict.keys())

# Convert all keys into a list
list(my_dict.keys())

In [62]:
# Lots of coding assignments and interview
print(my_dict.items())

dict_items([('USA', 'Washington D.C.'), ('China', 'Beijing'), ('UK', 'London'), ('France', 'Paris'), ('Brazil', 'Brasilia')])

In [64]:
# Sort a dictionary by key
print(sorted(my_dict.items())) # A list of tuples

[('Brazil', 'Brasilia'), ('China', 'Beijing'), ('France', 'Paris'), ('UK', 'London'), ('USA', 'Washington D.C.')]

In [63]:
# Convert a list of tuples into a dictionary
print(dict(sorted(my_dict.items())))

{'Brazil': 'Brasilia', 'China': 'Beijing', 'France': 'Paris', 'UK': 'London', 'USA': 'Washington D.C.'}

In [65]:
# Sort a dictionary by value
# Study lambda; Daniel 没讲清楚
print(dict(sorted(my_dict.items(), key=lambda item:item[1])))

{'China': 'Beijing', 'Brazil': 'Brasilia', 'UK': 'London', 'France': 'Paris', 'USA': 'Washington D.C.'}

In [66]:
# For loop
primes=[2,3,5,7]
for prime in primes:
    print(prime)

2
3
5
7

In [69]:
for i in range(len(primes)): # Range creates a list of values from 0 until the length of a list - 1
    print(primes[i])

2
3
5
7

In [ ]:
# In a loop, you can use conditionals to help filter specific values
primes=[2,3,5,7,11]
for p in primes:
    if p != 5 and p%2 == 1:
        print(p)

In [70]:
primes=[2,3,5,7,11]
for p in primes:
    if p != 5 and p%2 == 1:
        print(p)
        break

3

In [71]:
primes=[2,3,5,7,11]
for p in primes:
    if p != 5 and p%2 == 1:
        print(p)
        pass

3
7
11

In [72]:
primes=[2,3,5,7,11]
for p in primes:
    if p != 5 and p%2 == 1:
        print(p)
        continue

3
7
11

In [74]:
# List comprehensions
# https://www.w3schools.com/python/python_lists_comprehension.asp
primes=[2,3,5,7,11]
not_5_odds=[]
for p in primes:
    if p != 5 and p%2 == 1:
        not_5_odds.append(p)
not_5_odds

[3, 7, 11]

In [75]:
not_5_odds=[p for p in primes if p!=5 and p%2 == 1]

In [76]:
not_5_odds

[3, 7, 11]

In [78]:
def multiply(x,y):
    print("Multiply", x, "and", y)
    result=x*y
    su=x+y
    return result,su

v=4
b=3
prod,su=multiply(v,b)
prod
print(prod,su)

Multiply 4 and 3
12 7

In [79]:
def multiply(x,y):
    print("Multiply {} and {}".format(x, y))
    result=x*y
    su=x+y
    return result,su

v=4
b=3
prod,su=multiply(v,b)
prod
print(prod,su)

Multiply 4 and 3
12 7